.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
height: 100vh;
padding: 30px;
background-color: white;
color: black;
}

.container input {
    padding: 20px;
    width: 100%;
    background: transparent;
    outline: none;
    border-radius: 6px;
    border: solid 1px rgba(175, 179, 197, 0.5);
    font-family: work sans;
    margin-bottom:30px ;
}

.container button {
    width: 100%;
    padding: 13px;
    outline: none;
    border-radius: 7px;
    border: none;
    background-color: #ffb30b;
    font-family: work sans;
    font-size: 17px;
    color: black;
}


.container h4 {
    color: black;
    font-size: 20px;
}

.container img {
    width: 100%;
}