<div class="container">
<img src="https://static.vecteezy.com/system/resources/previews/036/365/774/non_2x/happy-valentine-s-day-web-banner-on-a-white-background-with-red-hearts-suspended-on-a-string-with-a-place-for-your-text-vector.jpg" style="width: 100%;" alt="">
    <h4 style="text-align: center;font-size: 16px;">PRIMAL VALENTINE SPECIAL </h4>

    <div class="movie">
        <img src="https://image.tmdb.org/t/p/original/q4ZAmIIbe2LiLvhQT0q3e6pleYr.jpg"  alt="">
        <h4>Friends with Benefits</h4>
        <p>Dylan is done with relationships. Jamie decides to stop buying into the Hollywood clichés of true love. </p>
        <p>Romance, Comedy </p>
        <p>Duration: 🎬 8:00 PM – 9:50 PM
            </p>
        <br>
        <a href="https://paystack.com/pay/vkezcu27j5">Buy Single Ticket</a>
        <a href="https://paystack.com/pay/uimidwxilm">Buy Double Ticket</a>
     </div>
    <div class="movie">
        <img src="https://image.tmdb.org/t/p/original/M7SUK85sKjaStg4TKhlAVyGlz3.jpg"  alt="">
        <h4>Wrath of Man</h4>
        <p>A cold and mysterious new security guard for a Los Angeles cash truck company surprises his co-workers when he unleashes precision skills during a heist.</p>
        <p>Crime, Action, Thriller</p>
        <p>Duration: 🎬 10:00 PM – 11:58 PM</p>
        <br>
            <a href="https://paystack.com/pay/sgqh1ibi7q">Buy Single Ticket</a>
            <a href="https://paystack.com/pay/aehnm08s70">Buy Double Ticket</a>
         </div>
    <div class="movie">
        <img src="https://image.tmdb.org/t/p/original/iuuQpZ81Y1GRV6LMPP4ml1FrQn6.jpg"  alt="">
        <h4>The Fault in Our Stars </h4>
        <p>Despite the tumor-shrinking medical miracle that has bought her a few years, Hazel has never been anything but terminal, her final chapter inscribed upon diagnosis.</p>
        <p>Romance, Drama</p>
        <p>Duration: 🎬 12:10 AM – 2:23 AM</p>
        <br>
            <a href="https://paystack.com/pay/4-dm7x8yq7">Buy Single Ticket</a>
            <a href="https://paystack.com/pay/2--95g5bfm">Buy Double Ticket</a>
         </div>

    <div class="movie">
        <img src="https://image.tmdb.org/t/p/original/ym7X7nlkzMSnLkHxG96iZ16zAlu.jpg"  alt="">
        <h4>The Curse of La Llorona </h4>
        <p>In 1970s Los Angeles, ignoring the eerie warning of a troubled mother suspected of child endangerment, a social worker and her own young kids are soon drawn into a frightening supernatural realm.</p>
        <p>Horror</p>
        <p>Duration: 🎬 2:35 AM – 4:08 AM</p>
        <br>
            <a href="https://paystack.com/pay/o-w8d9rxrf">Buy Single Ticket</a>
            <a href="https://paystack.com/pay/9auip0n471">Buy Double Ticket</a>
         </div>
    </div>
