.movie {
    margin: 20px;
margin-top: 0px;
    margin-bottom: 40px;
    border: 2px solid whitesmoke;
}
.movie h4, p {
    padding-left: 10px;
    padding-right: 10px;

}

.movie p {
    line-height: 1.6rem;
    font-size: 14px;

}
.movie img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.movie h4 {
    font-size: 20px;
    margin-bottom: 0px;
}
.movie a {
    width: 100%;
    display: inline-block;
    text-align: center;
    background: black;
    padding: 13px;
  margin-top: 10px;
    padding-bottom: 15px;
    color: white;
    font-size: 15px;
    text-decoration: none;
}